<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/storeSignup.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style/InputImage.css' %}">
    <title>QuicPick</title>
</head>
<body>

    <div class="main">
        <canvas></canvas>

        <form action="{% url 'changePassword' editProfile.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>QuicPick</h1>

            <input type="password" placeholder="Old Password" id="oldPassword" required name="oldPassword">
            <input type="password" placeholder="New Password" id="newPassword" required name="newPassword">
            <input type="password" placeholder="Confirm New Password" id="confNewPassword" required name="confNewPassword">
            <input type="submit" value="Update">
        </form>

        {% if messages %}
            <div class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    </div>




    <script src="{% static 'js/cannas.js' %}"></script>
    <script src="{% static 'js/addProduct.js' %}"></script>
</body>
</html>