<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/storeOrderView.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="navbar" id="navbar">
        <div class="logoAndLinks">
            <div class="logo">
                <img src="{% static 'images/logo2.png' %}" alt="">
            </div>
            <div class="allLinkls">
                <a href="{% url 'storeHome' %}">Home</a>
                <a href="{% url 'productPage' %}">Products</a>
                <a href="{% url 'storeOrder' %}">Orders</a>
                <a href="{% url 'storeOrderHistory' %}">Order History</a>
            </div>
        </div>
        <div class="profile" onclick="openProfile()">
            <a href="#">
                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/PXL_202IT (1).jpg' %}" alt="">
                {% endif %}
            </a>
        </div>
    </div>

    <div class="profileInfo" id="profileInfo">
        <div class="closeDiv"><div class="closeIcon" onclick="closeProfile()"><img src="{% static 'images/icons8-cross-48.png' %}" alt=""></div></div>
        <div class="profilePicInInfo">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <img src="images/WhatsApp_Image_2023-10-30_at_6.03.22_PM_1.jpeg" alt="">
                {% else %}
                    <img src="{{ user.profile.image.url }}" alt="Profile Picture"/>
                {% endif %}
            {% else %}
                <img src="images/WhatsApp_Image_2023-10-30_at_6.03.22_PM_1.jpeg" alt="">
            {% endif %}
        </div>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <div class="userName">{{ user.username }}</div>
        <div class="phoneNumber">{{ user.profile.phone }}</div>
        <div class="editProfile profileBtn"><a href="{% url 'editProfilePage' user.profile.id %}">Edit Profile</a></div>
        <div class="changePassword profileBtn"><a href="{% url 'changePasswordPage' user.profile.id %}">Change Password</a></div>
        <div class="logout profileBtn"><a href="{% url 'logOutUser' %}">Log Out</a></div>
    </div>


    <div class="orderDiv">
    {% for totalBill,  orders in zipped %}
        <div class="singleUserOrder">
            <div class="orderUserInfo">
                <div class="userProfilePic"><img src="{{ orders.first.user.image.url }}" alt=""></div>
                <p>Name: {{ orders.first.user.user.first_name }} {{ orders.first.user.user.last_name }}</p>
                <p>PickUp ID: {{ orders.first.user.user.id }}</p>
                <p>Phone: {{ orders.first.user.phone }}</p>
                <p>Order Time: {{ orders.first.created_at }}</p>
            </div>

            {% for order in orders %}
                <div class="prodictInfo">
                    <p class="Pid">Product ID: {{ order.product.id }}</p>
                    <div class="imageDiv"><img src="{{ order.product.image.url }}" alt=""></div>
                    <p class="pname">{{ order.product.name }}</p>
                    <p class="pquantity">Quantity: {{ order.quantity }}</p>
                    <p class="unitPrice">Unit Price: ৳{{ order.product.discountPrice }}</p>
                    <p class="ptime">PickUp Time: <strong>{{ order.pickup_time }}</strong></p>
                    <div class="changeIndivusalStatus">
                        {% if order.status != 'pending' %}
                            <div class="boxOrderStatusView"><a href="{% url 'makeStatusToPending' order.id %}">Pending</a></div>
                        {% endif %}
                        {% if order.status != 'ready' %}
                            <div class="boxOrderStatusView"><a href="{% url 'makeStatusToReady' order.id %}">Ready</a></div>
                        {% endif %}
                        {% if order.status != 'picked_up' %}
                            <div class="boxOrderStatusView"><a href="{% url 'makeStatusToPickedUp' order.id %}">Picked-Up</a></div>
                        {% endif %}
                        <div class="boxOrderStatusView cancleOrderStatusView"><a href="{% url 'viewOrderCancelpageForIndivisualProduct' order.id %}">Cancel</a></div>
                        <div class="defoultchangeIndivusalStatus boxOrderStatusView">{{ order.get_status_display }}</div>
                    </div>
                </div>
            {% endfor %}

            <div class="orderBottom">
                <p id="totalPrice">Total Price: ৳{{ totalBill }}</p>
                {% if orders.first.status == 'pending' %}
                    <div class="orderStatusByn"> Change Order Status to <a href="{% url 'orderStatusToReady' orders.first.user.id %}">Ready</a> </div>
                {% elif orders.first.status == 'ready'%}
                    <div class="orderStatusByn"> Change Order Status to <a href="{% url 'orderStatusToPickedUp' orders.first.user.id %}">PickedUp</a> </div>
                {% else %}
                    <div class="orderStatusByn"> Order has been picked up </div>
                {% endif %}
                <div class="cancleOrder"><a href="{% url 'viewOrderCancelpage' orders.first.user.id %}">Cancel Order</a></div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="footer">
        <div class="ftitle">
            @QuicPick
        </div>
        <div class="flinks">
            <p>Keep Exploring</p>
            <div class="linkDiv1">
                <a href="#">What we do</a>
                <a href="#">What we are</a>
                <a href="#">Out Impact</a>
                <a href="#">Our Team</a>
            </div>
            <div class="linkDiv2">
                <a href="#">What we do</a>
                <a href="#">What we are</a>
                <a href="#">Out Impact</a>
                <a href="#">Our Team</a>
            </div>
            <div class="smallLink">
                <a href="#">Press</a>
                <a href="#">Privacy Policy</a>
                <a href="#">QuicPick Subscription</a>
                <a href="#">Careers</a>
                <a href="#">Help Center</a>
                <a href="#">QuicPick Deals</a>
                <a href="#">Dine-in</a>
                <a href="#">Become an Affiliate</a>
            </div>
        </div>
    </div>



    <script src="{% static 'js/lenis.min.js' %}"></script>
    <script src="{% static 'js/lenis.js' %}"></script>
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/scrollReload.js' %}"></script>

</body>
</html>