<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/storeSignup.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style/InputImage.css' %}">
    <title>QuicPick</title>
</head>
<body>
    
    <div class="main">
        <canvas></canvas>

        <form action="profileCreated" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>QuicPick</h1>
            <input type="text" placeholder="Owner Name" required name="ownerName">
            <input type="text" placeholder="Store Name" required name="storeName">
            <input type="tel" placeholder="Phone Number" required name="phone">
            <input type="email" id="email"  placeholder="Email Address" required name="email">
            <input type="file" id="imageUpload" name="imageUpload" accept="image/*" required hidden>
            <div class="img-area selectImage" style="width: 95%;" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <h3>Upload Product Image</h3>
                <p>Click to upload image</p>
            </div>
            <input type="password" placeholder="Password" id="password" required name="password">
            <input type="password" placeholder="Confirm Password" id="confPassword" required name="confPassword">
            <input type="submit" value="SignUp">
        </form>

        {% if messages %}
            <div class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    </div>




    <script src="{% static 'js/cannas.js' %}"></script>
    <script src="{% static 'js/addProduct.js' %}"></script>
</body>
</html>